/* # reset */
*, *:after, *:before {
    box-sizing: border-box;
    }
    html, body, h1, h2, h3, h4, h5, h6, ul, li, figure, .row {
    margin: 0;
    padding: 0;
    }
    figure img {
    width: 100%;
    height: 100%;
    }
    a, a:hover {
    text-decoration: none;
    }
    body {
    font-size: 16px;
    font-family: Tahoma;
    font-family: 'Montserrat', sans-serif;
    }
    nav ul {
    list-style: none;
    }
/* # theme */

/* ## Text Changes*/

.t-white { color: #ffffff; }
.t-white:hover { color: #ffffff; }
.t-black { color: #000000; }
.t-black:hover { color: #000000; }
.t-pink { color: #ff64e0;}
.t-center { text-align: center;}
.t-bold { font-weight: bolder;}

/* ## Elements */

.e-center{
    margin-left: auto;
    margin-right: auto;
}

.justi-center{ justify-content: center; }
.a-center{ align-items: center; }
.full-width{ width: 100%;}


/* ## BG changes*/

.b-white { background-color: #ffffff; }
.b-black { background-color: #000000; }
.b-pink { background-color: #ff64e0;}

/* # Componentes */
/* ## Header */

.headerLogo_img{
    width: 6em;
}
.header{
    border-bottom: 3px solid #000000;
    padding: 2em 0em 1em;
    align-items: center;
}

.nav-link .social__nav{
    padding: .2rem;
}

.social__nav{
    font-size: 1.25rem;
}

.social__nav a{
    font-family: "Font Awesome 5 Brands";
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

.social__nav a[href*="facebook"]::before{
    content: "\f082";
}
.social__nav a[href*="twitter"]::before{
    content: "\f081";
}
.social__nav a[href*="instagram"]::before{
    content: "\f16d";
}
.social__nav a[href*="youtube"]::before{
    content: "\f167";
}

/*  # Footer */
.footer{    
    padding: 1em 0em 1em;
}

.footerLogo_img{
    width: 6em;
}
/* # Categories */

.category_title{
    display: inline-block;
    padding: 0.2em .4em .2em;
    margin-top: 1em;
    font-size: 1em;
}

.category_list{
    padding-top: .7em;
    padding-right: 1em;
    padding-bottom: 0;
    border-top: 3px solid #000000;   
}

.category_link:first-child{
    padding-left: 0;
}
.category_link:last-child{  
    padding-right: 0.5em;
}

/*  # Posts style */

.content{
    padding-right: 0;
}

.main_pad{
    padding-right: 0;
}

.card{
    width: 20em;
    height: 26em;
}

.card-body{
    padding-bottom: 0;
}

.textCard{
    font-size: 12px;
    height: 5em;
    width: 100%;
}
.post_image{
    width: 100%;
    height: 13.5em;
}
.card-title{
    font-size: 22px;
    font-weight: bold;
    width: 100%;
    height: 4.25em;
}

/* Members Posts */

.headerMember{
    justify-content: center;
    padding-top: 2em;
    padding-bottom: 2em;
}

.member_title{
    padding-top: 1em;
    padding-right: 0.5em;
}

.img_membertitle{
    padding-top: .5em;
    height: 4em;
    width: 4.5em;
}

.memberDisplay{
    justify-content: center;
}

.member_list{
    padding-bottom: 1em;
    justify-content: center;
}

.member_list:first-child{
    margin-left: 1.5em;
    margin-right: 1em;
}

.member_list:nth-child(2){
    margin-right: 1em;
}

.member_list:last-child{
    margin-left: 1.5em;
}

.card_member{
    border-color: transparent;
    width: 9.5em;
    height: 13em;
}

.member_body{
    padding-top: 1em;
    margin-top: 8px;
    height: 2.5em;
    width: 9.5em;
}

.img-member{
    height: 7em;
    width: 9.5em;
}

