/* # reset */
*, *:after, *:before {
    box-sizing: border-box;
    }
    html, body, h1, h2, h3, h4, h5, h6, ul, li, figure, .row {
    margin: 0;
    padding: 0;
    }
    figure img {
    width: 100%;
    height: 100%;
    }
    a, a:hover {
    text-decoration: none;
    }
    body {
    font-size: 16px;
    font-family: Tahoma;
    font-family: 'Montserrat', sans-serif;
    }
    nav ul {
    list-style: none;
    }
/* # theme */

/* ## Text Changes*/

.t-white { color: #ffffff; }
.t-white:hover { color: #ffffff; }
.t-black { color: #000000; }
.t-black:hover { color: #000000; }
.t-pink { color: #ff64e0;}
.t-center { text-align: center;}
.t-bold { font-weight: bolder;}

/* ## Elements */

.e-center{
    margin-left: auto;
    margin-right: auto;
}

.justi-center{ justify-content: center; }
.a-center{ align-items: center; }
.full-width{ width: 100%;}


/* ## BG changes*/

.b-white { background-color: #ffffff; }
.b-black { background-color: #000000; }
.b-pink { background-color: #ff64e0;}

/* # Componentes */
/* ## Header */

.headerLogo_img{
    width: 6em;
}
.header{
    border-bottom: 3px solid #000000;
    padding: 2em 0em 1em;
    align-items: center;
}
/*  # Footer */
.footer{    
    padding: 1em 0em 1em;
}

.footerLogo_img{
    width: 6em;
}
/* # Categories */

.category_title{
    display: inline-block;
    padding: 0.2em .4em .2em;
    margin-top: 1em;
    font-size: 1em;
}

.category_list{
    padding-top: .7em;
    border-top: 3px solid #000000;   
}

.category_link:first-child{
    padding-left: 0;
}
.category_link:last-child{  
    padding-right: 0;
}

/*  # Posts style */

.card{
    width: 20em;
    height: 26em;
}
.textCard{
    font-size: 12px;
    height: 8.25em;
    width: 100%;
}
.card-img-top{
    width: 100%;
    height: 13.5em;
}
.card-title{
    font-size: 22px;
    font-weight: bold;
    width: 100%;
    height: 4.25em;
}


